<footer>

  <div role="about">
    <div role="title">
      <h6>SOBRE NOSOTROS</h6>
      <h6>ATENCIÓN AL CLIENTE</h6>
      <h6>CONTACTO</h6>
    </div>
    <div role="contentinfo">
      <div role="info1">
        <ul>
          <li>
            <a> Quienes somos
            </a>
          </li>
          <li>
            <a>
              Compra online
            </a>
          </li>
          <li>
            <a>
              Descuentos exclusivos
            </a>
          </li>
        </ul>
      </div>
      <div role="info2">
        <ul>
          <li>
            <a> Preguntas
            </a>
          </li>
          <li>
            <a>
              Envíos
            </a>
          </li>
          <li>
            <a>
              Guia de tallas
            </a>
          </li>
        </ul>
      </div>
      <div role="info3">
        <ul>
          <li>
            <a> Telefono
            </a>
          </li>
          <li>
            <a>
              Ubicación
            </a>
          </li>
          <li>
            <a>
              Email
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="pay">
    <h6>ACEPTAMOS</h6>
    <div class="img">
      <img src="//img.ltwebstatic.com/images3_pi/2021/03/09/161528368123dd7a35ad8708b0dfc74b3630526891.png">
      <img src="//img.ltwebstatic.com/images2_pi/2018/06/06/15282732803587566708.png">
      <img src="//img.ltwebstatic.com/images2_pi/2018/06/06/15282732983375743706.png">
      <img src="//img.ltwebstatic.com/images2_pi/2018/06/06/1528273036537082707.png">
      <img src="//img.ltwebstatic.com/images2_pi/2018/06/06/15282719811871317559.png">
      <img src="//img.ltwebstatic.com/images3_pi/2022/10/17/166600321412aa3b751032795b50a47302c26c1fca.png">
      <img src="//img.ltwebstatic.com/images3_pi/2021/12/24/164031483205c644a5e0fa65a30b431f1488231b60.png">
      <img src="//img.ltwebstatic.com/images3_pi/2020/09/23/16008293560df34023305e4c8617d6886e33b59531.png">
      <img src="//img.ltwebstatic.com/images2_pi/2018/08/31/15356946304173589516.png">
      <img src="//img.ltwebstatic.com/images3_pi/2021/01/15/1610701410b3781f00695b77b833e6b6a5e38331a3.png">
    </div>
  </div>
  <div role="findus">
    <h6>ENCUÉNTRANOS EN</h6>
    <div role="img">
      <img src="//img.ltwebstatic.com/images3_pi/2019/10/16/15712176364cf63dd5884d7cc219eebc5198b48991.png">
      <img src="//img.ltwebstatic.com/images3_pi/2019/10/16/15712176626328e159b22dafd4a61ce4a122f29c38.png">
      <img src="//img.ltwebstatic.com/images3_pi/2019/10/16/157121767820b45dc865ad8f6331abf131380cdad3.png">
      <img src="//img.ltwebstatic.com/images3_pi/2019/10/16/1571217690a4ed67496d0f56034f7fa1dc20f9fc4c.png">
      <img src="//img.ltwebstatic.com/images3_pi/2019/10/16/15712177018ee72034a7a1d28957bca9f5f4c2f18e.png">
    </div>
  </div>
  <div role="subscribe">
    <h6>SUSCRÍBETE PARA RECIBIR OFERTAS EXCLUSIVAS, PROMOCIONES Y NOTICIAS</h6>
    <div role="input">
      <input type="email" placeholder="Tu dirección del Email">
    </div>
    <div role="button">
      <button>Subscribirse</button>
    </div>
  </div>
</footer>
