header {
  background-color: #f6f7f9;
  padding: 1.5rem;
  display: flex;
  flex-direction: row;
  p{
    font-size: 15px;
    font-family: cursive;
  }

  .envio {
    width: 95%;
    text-align: center;

    p {
      margin: 0;
    }
  }

  .icon {
    display: flex;
    width: 8rem;
    gap: 1rem;
    cursor: pointer;
  }
}

mat-tab {
  border-bottom-color: pink;
}
