<div role="contentinfo">
<mat-card class="example-card">
  <mat-card-header >
    <div mat-card-avatar class="example-header-image" ></div>
    <mat-card-title>{{products[9]?.nombre}}</mat-card-title>
  </mat-card-header>
  <img mat-card-image src="/assets/img/heather-ford-5gkYsrH_ebY-unsplash.jpg">
  <mat-card-actions>
    <p>{{products[9].precio}} $</p>
    <button color="accent" mat-button (click)="comprarProducto(products[9])" >Comprar</button>
  </mat-card-actions>
</mat-card>
<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>{{products[10]?.nombre}}</mat-card-title>
  </mat-card-header>
  <img mat-card-image src="/assets/img/dress2.jpg">
  <mat-card-actions>
    <p>{{products[10].precio}} $</p>
    <button color="accent" mat-button (click)="comprarProducto(products[10])" >Comprar</button>
  </mat-card-actions>
</mat-card>
<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>{{products[11]?.nombre}}</mat-card-title>
  </mat-card-header>
  <img mat-card-image src="/assets/img/dress1.jpg">
  <mat-card-actions>
    <p>{{products[11].precio}} $</p>
    <button color="accent" mat-button (click)="comprarProducto(products[11])">Comprar</button>
  </mat-card-actions>
</mat-card>
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{products[12]?.nombre}}</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="/assets/img/pexels-pixabay-157675.jpg">
    <mat-card-actions>
      <p>{{products[12]?.precio}} $</p>
      <button color="accent" mat-button (click)="comprarProducto(products[12])">Comprar</button>
    </mat-card-actions>
  </mat-card>
</div>
