<div role="contentinfo">
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{ products[12]?.nombre }}</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="/assets/img/zapato.jpg">
    <mat-card-actions>
      <p>{{ products[12]?.precio }} $</p>
      <button color="accent" mat-button (click)="comprarProducto(products[12])">Comprar</button>
    </mat-card-actions>
  </mat-card>
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{ products[13]?.nombre }}</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="/assets/img/zapato1.jpg">
    <mat-card-actions>
      <p>{{ products[13]?.precio }} $</p>
      <button color="accent" mat-button (click)="comprarProducto(products[13])">Comprar</button>
    </mat-card-actions>
  </mat-card>
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{ products[14]?.nombre }}</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="/assets/img/zapato2.jpg">
    <mat-card-actions>
      <p>{{ products[14]?.precio }} $</p>
      <button color="accent" mat-button (click)="comprarProducto(products[14])">Comprar</button>
    </mat-card-actions>
  </mat-card>
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{ products[15]?.nombre }}</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="/assets/img/zapato3.jpg">
    <mat-card-actions>
      <p>{{ products[15]?.precio }} $</p>
      <button color="accent" mat-button (click)="comprarProducto(products[15])">Comprar</button>
    </mat-card-actions>
  </mat-card>
</div>
