div[role="contentinfo"]{
  display:flex;
  flex-direction: row;
  justify-content: center;
}

img{ width:400px;
  height: 500px}


mat-card-actions{
  display: flex;
  justify-content: space-between;
  p{padding: 1rem}
}
