<div role="contentinfo">
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{ products[16]?.nombre }}</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="/assets/img/hombre.jpg">
    <mat-card-actions>
      <p>{{ products[16]?.precio }} $</p>
      <button color="accent" mat-button (click)="comprarProducto(products[16])">Comprar</button>
    </mat-card-actions>
  </mat-card>
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{ products[17]?.nombre }}</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="/assets/img/hombre1.jpg">
    <mat-card-actions>
      <p>{{ products[17]?.precio }} $</p>
      <button color="accent" mat-button (click)="comprarProducto(products[17])">Comprar</button>
    </mat-card-actions>
  </mat-card>
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{ products[18]?.nombre }}</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="/assets/img/hombre3.jpg">
    <mat-card-actions>
      <p>{{ products[18]?.precio }} $</p>
      <button color="accent" mat-button (click)="comprarProducto(products[18])">Comprar</button>
    </mat-card-actions>
  </mat-card>
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{ products[19]?.nombre }}</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="/assets/img/hombre4.jpg">
    <mat-card-actions>
      <p>{{ products[19]?.precio }} $</p>
      <button color="accent" mat-button (click)="comprarProducto(products[19])">Comprar</button>
    </mat-card-actions>
  </mat-card>
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{ products[20]?.nombre }}</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="/assets/img/hombre5.jpg">
    <mat-card-actions>
      <p>{{ products[20]?.precio }} $</p>
      <button color="accent" mat-button (click)="comprarProducto(products[20])">Comprar</button>
    </mat-card-actions>
  </mat-card>
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{ products[21]?.nombre }}</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="/assets/img/hiombre2.jpg">
    <mat-card-actions>
      <p>{{ products[21]?.precio }} $</p>
      <button color="accent" mat-button (click)="comprarProducto(products[21])">Comprar
